<h1>User info</h1>
<div class="profile-container">
 <div class="row">
  <div class="col-lg-4">
  <%= image_tag('sample-author2.jpg', class: "img-square pull-left profile-thumb", style: "width: 100px; height: 100px;") %>
  </div>
   <ul>
    <li class="">
     <%= @user.name %>
    </li>
    <li class="">
    </li>
   </ul>
  </div>
 </div>
</div>

